@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.ranking-page {
  color: #fff;
  padding: 30px 10px;

  .ranking-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;

    h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .ranking-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }

    .ranking-item {
        border-radius: 7px;
        background: #212529;
        justify-content: space-between;
        width: 550px;
        height: 83px;
        padding: 0 15px;
        font-size: 20px;

        .ranking-item-left-content{
            display: flex;
            flex-direction: row;
            align-items: center;

            .ranking-item-rank{
                font-family: 'Lilita One';
                width: 55px;
                text-align: center;
                font-size: 32px;
            }

        }

        .ranking-item-right-content{
        }
    }
  }
}
