body {
    background-color: #1a1a1a;
}

.logo {
    font-size: 120px;
    padding: auto;
    background: #ff914d;
    width: 170px;
    height: 170px;
    animation: animacao-logo 5s infinite;
}

.logo * {
   transform: none;
}

@keyframes animacao-logo {
    0% {
        background: #ff914d;
        transform: rotateX(0deg);
    }

    33% {
        transform: rotateY(180deg);
        background: yellow;
    }

    100% {
        transform: rotateY(0deg);
        background: green;
    }

}

.flip {
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: transform 800ms;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 120px;
}

@media screen and (max-width: 600px) {
    .flip {
        height: 120px;
        width: 120px;
        font-size: 50px !important;
    }

    .icon {
        font-size: 50px;
    }
}