body {
    background-color: #1a1a1a;
}

.logo {
    font-size: 120px;
    text-align: center;
    background: #ff914d;
    width: 170px;
    height: 170px;
    animation: animacao-logo 5s infinite;
    margin: 10px auto;
    border-radius: 10px;
}

.logo * {
   transform: none;
}

@keyframes animacao-logo {
    0% {
        background: #ff914d;
        transform: rotateX(0deg);
    }

    33% {
        transform: rotateY(180deg);
        background: yellow;
    }

    100% {
        transform: rotateY(0deg);
        background: green;
    }

}

.flip {
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: transform 800ms;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 120px;
}

@media screen and (max-width: 600px) {
    .flip {
        height: 120px;
        width: 120px;
        font-size: 50px !important;
    }

    .icon {
        font-size: 50px;
    }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #94717100;
  margin: 0 10px;
}

::-webkit-scrollbar-thumb {
  background: #8888887a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5555557a;
}
