body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background-color: #131313;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  rgba(255, 255, 255, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    


  }
  

.login-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0px 0px 15px rgb(204, 204, 204, 0.5);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background-color: #1a1a1a;
    color: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.form-input:focus {
    border-color: #0d6efd;
    outline: none;
    background-color: #1a1a1a;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-button {
    background-color: #0d6efd;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

.login-button:hover {
    background-color: #357ab8;
    transform: translateY(-2px);
}

.register-button {
    background-color: transparent;
    color: #4a90e2;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 10px;
}

.register-button:hover {
    color: #357ab8;
    text-decoration: underline;
}

.termos{
    margin-left: -80px;
    margin-bottom: 20px;
    color: #ccc;
    padding: 10px;
}

@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        margin: 0 15px; 
    }

    .login-title {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-input {
        font-size: 14px;
        padding: 10px;
    }

    .login-button {
        font-size: 14px;
        padding: 10px;
    }

    .register-button {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        margin: 0 20px; 
    }

    .login-title {
        font-size: 18px;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .form-label {
        font-size: 12px;
    }

    .form-input {
        font-size: 12px;
        padding: 8px;
    }

    .login-button {
        font-size: 12px;
        padding: 8px;
    }

    .register-button {
        font-size: 10px;
    }
}
